.helpful-block-content{
	background:#fff;
	border:1px solid #d7d7d7;
}
.helpful-block-content ul li a.wth-green-btn,
 .helpful-block-content ul li a.wth-red-btn{
	border-radius:20px;
	margin:0px 5px;
}

.helpful-block-content p{
	display:inline;
	margin-left:10px;
}
@media(max-width:600px){
	.helpful-block-content p{
		display:block;
		margin-left:0px;
		margin-top:10px;
	}
	.helpful-block-content .wth-title{
		display:block;
		margin:0px;
	}
	.helpful-block-content ul li{
		float:left;
		width:100%;
	}
}
@media(max-width:400px){
 	.helpful-block-content ul li a.wth-green-btn,
	 .helpful-block-content ul li a.wth-red-btn{
		display:block;
		margin:0px;
	}
	.helpful-block-content ul li a.wth-green-btn{
		margin-bottom:8px;
	}
}