.helpful-block-content{
	background:#fbf9e0;
	border:1px solid #f8f2a5;
}
.helpful-block-content ul{
	text-align:center;
}
.helpful-block-content .wth-title{
	font-weight:400;
}
.helpful-block-content .wth-title{
	display:block;
}
.helpful-block-content ul li a.wth-red-btn,
.helpful-block-content ul li a.wth-green-btn{
	border-radius:0px;
	min-width:50px;
}