<div class="helpful-block-content wth-theme-faces" data-title="{custom_object}">
<ul>
 <li><a data-post="{post_id}" data-post-url="{post_url}" data-post-title="{post_title}" data-response="1" href="#" class="wth-green-btn icon1-thumbs-up3">{yes_label}</a>
<span class="wth-title">{post_statatics}  {title}</span>
<a data-response="0" data-post="{post_id}" data-post-url="{post_url}" data-post-title="{post_title}" href="#" class="wth-red-btn icon1-thumbs-down3">{no_label}</a></li>
</ul>
</div>
