.helpful-block-content{
	background:#f5f3f4;
	border:1px solid #ebebeb;
}
.helpful-block-content ul li a.wth-red-btn,
.helpful-block-content ul li a.wth-green-btn{
	border-radius:20px;
	background:none;
	margin:0px 5px;
}
.helpful-block-content ul li a.wth-red-btn{
	color: #e5392b;
}
 .helpful-block-content ul li a.wth-green-btn{
	color: #5dae76;
}
@media(max-width:600px){
	.helpful-block-content ul li{
		width:100%;
		display:block;
 	}
.helpful-block-content ul li:first-child{
		margin-top:0px !important;
	}
}
@media(max-width:400px){
	.helpful-block-content ul li a.wth-green-btn,
	 .helpful-block-content ul li a.wth-red-btn{
		display:block;
		margin:0px;
	}
	.helpful-block-content ul li a.wth-green-btn{
		margin-bottom:8px;
	}
}