.helpful-block-content{
	background:#f5f4f4;
	border:1px solid #e1e1e1;
}
.helpful-block-content ul{
	text-align:center;
}
.helpful-block-content ul li{
	float:left;
	width:100%;
}
.helpful-block-content ul li a.wth-green-btn,
.helpful-block-content ul li a.wth-red-btn{
	min-width:80px;
	border-radius:0px;
}