.helpful-block-content{
	background:#f5e8f2;
	border:1px solid #f3bfe4;
}
.helpful-block-content ul{
	text-align:center;
}
.helpful-block-content .wth-title{
	font-weight:400;
}
.helpful-block-content ul li a.wth-green-btn,
 .helpful-block-content ul li a.wth-red-btn{
	border-radius:0px;
	margin:0px 5px;
}
@media(max-width:600px){
	
	.helpful-block-content ul li{
		width:100%;
		display:block;
 	}
	.helpful-block-content ul li:first-child{
		margin-top:0px !important;
	}
}
@media(max-width:400px){
	.helpful-block-content ul li a.wth-green-btn,
 .helpful-block-content ul li a.wth-red-btn{
	display:block;
	margin:0px;
}
.helpful-block-content ul li a.wth-green-btn{
	margin-bottom:8px;
}
}