<div class="helpful-block-content wth-theme-faces" data-title="{custom_object}">
<ul>
<li><span class="wth-title">{post_statatics}  {title}</span></li>
<li><a data-post="{post_id}" data-post-url="{post_url}" data-post-title="{post_title}" data-response="1" href="#" class="wth-green-btn icon1-thumbs-up2">{yes_label}</a><a data-response="0" data-post="{post_id}" data-post-url="{post_url}" data-post-title="{post_title}" href="#" class="wth-red-btn icon1-thumbs-down2">{no_label}</a></li>
</ul>
</div>
