.helpful-block-content{
	background:#ebebeb;
	border:1px solid #b7b7b7;
}
.helpful-block-content ul{
	text-align:center;
}
.helpful-block-content .wth-title{
	margin-left:15px;
	margin-right:15px;
}
.helpful-block-content ul li a.wth-red-btn,
.helpful-block-content ul li a.wth-green-btn{
	border-radius:0px;
}
@media(max-width:600px){
	.helpful-block-content .wth-title{
		width:100%;
		display:block;
		margin:10px 0;
	}
}