.helpful-block-content{
	background:#ffe4f5;
	border:1px solid #f4a2d8;
}
.btm-text{
	margin:10px 0px 0;
	font-weight:500;
	font-style:italic;
}
.helpful-block-content ul li a.wth-green-btn,
 .helpful-block-content ul li a.wth-red-btn{
 	margin:0px 5px;
}
@media(max-width:600px){
	.helpful-block-content ul li{
		width:100%;
		display:block;
 	}
	.helpful-block-content ul li:first-child{
		margin-top:0px !important;
	}
}
@media(max-width:400px){
	.helpful-block-content ul li a.wth-green-btn,
 .helpful-block-content ul li a.wth-red-btn{
	display:block;
	margin:0px;
}
.helpful-block-content ul li a.wth-green-btn{
	margin-bottom:8px;
}
}