<div class="helpful-block-content wth-theme-faces" data-title="{custom_object}">
<ul>
<li><span class="wth-title">{title}</span></li>
<li><a data-post="{post_id}" data-post-url="{post_url}" data-post-title="{post_title}" data-response="1" href="#" class="wth-green-btn icon1-thumbsup">{yes_label}</a><a data-response="0" data-post="{post_id}" data-post-url="{post_url}" data-post-title="{post_title}" href="#" class="wth-red-btn icon1-thumbsdown">{no_label}</a>
</li>
</ul>
<p class="btm-text">{post_statatics}</p>
</div>
