.helpful-block-content{
	background:#2a2a2a;
	border:1px solid #2a2a2a;
	color:#fff;
}
.helpful-block-content ul{
	text-align:center;
}
.helpful-block-content ul li{
	float:left;
	width:100%;
}
.helpful-block-content ul li a.wth-green-btn,
 .helpful-block-content ul li a.wth-red-btn{
	border-radius:0px;
	margin:0px 5px;
}
.helpful-block-content .wth-title{
	    display: block;
    margin: 0px 0 9px;
}
@media(max-width:400px){
	.helpful-block-content ul li a.wth-green-btn,
	 .helpful-block-content ul li a.wth-red-btn{
		display:block;
		margin:0px;
	}
	.helpful-block-content ul li a.wth-green-btn{
		margin-bottom:8px;
	}
}